{% extends "index.html" %}
{% block application %}

   <div class="features">
      <ul>
        {% if user.is_authenticated %}

        <li> Как это работает? 
<br />
          <span class="bannertxt">Нажмите "Выберите файл" после поиска изображения на вашем компьютере ,нажмите кнопку "ок". </span></li>
        <li><form enctype="multipart/form-data" action="." method="POST">{% csrf_token %}
        <table>
        {{form}}
        <tr>
        	<td colspan="2">
        		<br><input type="submit" value="Ok"><br>
        	</td>
        </tr>
        </table>
    </form>
    {% else %}
    <h3> Чтобы получить возможность добавлять свои фотографии - авторизуйтесь </h3>
    {% endif %}
 <li><h2>Gallery: </h2><br />
          {% for o in list%}
	<p align=center>#{{o.id}}</br><img src = {{o.path}} height = "400"></img></p>
	<p></p>
{%endfor%}</li>
<br />
      </ul>
    </div>
{% endblock %}

