{% extends "index.html" %}

{% load i18n %}

{% block application %}



<h3>{% trans "Restore pass" %}</h3>
<form action="." method="POST">{% csrf_token %}

{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
    {% endfor %}
    </ul>
{% endif %}


{{ form }}
</br>
<input type="submit"/>
</form>

<h4>

<a href={% url regnauth.RegPage  %}>{% trans "Registration" %}</a>

</h4>

{% endblock %}

